.pButton {
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    line-height: 1rem;
    margin: 0;
    transition: background-color 270ms, border-color 270ms;
    white-space: nowrap;
}

.pButton--medium {
    font-size: 1rem;
    padding: 0.694rem 1.2rem;
}

.pButton--small {
    font-size: 0.833rem;
    padding: 0.4821rem 0.833rem;
}

.pButton--large {
    font-size: 1.2rem;
    padding: 1rem 1.728rem;
}

.pButton--basic {
    border-color: #a0a0a0;
    background: #e0e0e0;
}

.pButton--basic:hover {
    background: #fff;
}

.pButton--primary {
    background: #456789;
    border-color: #456789;
    color: #fff;
}

.pButton--primary:hover {
    background: #123456;
    border-color: #123456;
}

.pButton[disabled] {
    background: #f0f0f0;
    border-color: #d0d0d0;
    color: #a9a9a9;
    box-shadow: none;
}
